<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.ennui.contentslider.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
<title>Untitled Document</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<div class="logo-search-bar">
				<div class="logo"><img src="images/logo.png" /></div>
				<div class="search-bar">
					<div class="search-textfeild">
						<input type="text"  value="Search entire store here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
						<div class="search-btn"><input type="submit" value=" " /></div>
					</div>
				</div>
				<div class="top-text">Lorem ipsum dolor sit amet consectetur</div>
			</div>
			<div class="menu">
				<ul>
					<li><a href="#" class="first">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Categories</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
		</div>
		<!--end-header-->
		<div id="body">
			<div class="body-header">
				<div class="body-pic"><img src="images/body-pic.png" /></div>
				<div class="body-banner">Banner</div>
				<div class="right-side-box-top">
					<div class="right-side-heading"><span>NEWSLETTER</span></div>
					<div class="search-textfeild1">
						<input type="text"  value="Sign up for our newsletter..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
						<div class="arrow-btn"><input type="submit" value=" " /></div>
					</div>
				</div>
			</div>
			<div class="left-side">
				<div class="left-side-heading"><span>NEW</span> PRODUCTS</div>
				<div class="box">
					<ul>
						<li class="first">
							<div class="box-pic"><img src="images/box-pic.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$148.59</div> 
							</div>
						</li>
						<li>
							<div class="box-pic"><img src="images/box-pic1.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$145.52</div> 
							</div>
						</li>
						<li>
							<div class="box-pic"><img src="images/box-pic2.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$149.00</div> 
							</div>
						</li>
						<li class="first">
							<div class="box-pic"><img src="images/box-pic3.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$141.59</div> 
							</div>
						</li>
						<li>
							<div class="box-pic"><img src="images/box-pic4.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$142.52</div> 
							</div>
						</li>
						<li>
							<div class="box-pic"><img src="images/box-pic5.png" /></div>
							<div class="box-text">Lorem ipsum dolor sit consectetur adipisicing elit,<span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></div>
							<div class="details-btn-div">
								<div class="details-btn"><a href="#"><img src="images/details-btn.png" border="0" /></a></div>
								<div class="btn-text">$150.00</div> 
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="right-side">
				<div class="right-side-box">
					<div class="right-side-heading"><span>MY</span> CART</div>
					<div class="right-text">You have no items in your shopping cart </div>
				</div>
				<div class="right-side-banner"><img src="images/banner.png" border="0" /></div>
				<div class="right-side-banner"><img src="images/banner1.png" border="0" /></div>
			</div>
		</div>
		<!--end-body-->
		<div id="footer">
			<div class="footer-menu">
				<ul>
					<li><a href="#" style="border:0px;">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Categories</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
			<div class="footer-text">Copyright © Alfattah Apparel. All Rights Reserved</div>
		</div>
		<!--end-footer-->
	</div>
	<!--end-container-->
</body>
</html>
